.CounterContainer{
    width:200px;
    margin: auto;
}
h2{
    text-align: center;
}
.IncrementButton{
    background-color:darkcyan;
    border-color:darkcyan;
    color:white;
}
    .DecrementButton{
        
        border-color:white;
        color:darkcyan; 
}