.Comment{
    width:350px;
    margin: auto;
    padding: 0.5em;
    height: 210px;
    background-color:#f6f6f6;
    box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-bottom: 1em;
   
}
.Date{
    text-align:center ;
}
.UserName{
    margin-top:0.5em;
}
