*{
    margin:0;
}
.Comment{
    width:400px;
    margin: auto;
    padding: 0.5em;
    height: 220px;
    background-color:#f6f6f6;
    box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin:1.5em 1.5em;
   
}
.Date{
  text-align: right;
  color:gray;
  font-weight:800;
    
}
.UserName{
    margin-top:6px;
    margin-bottom:10px;
}
.CardButton{
    width:30px;
    font-size: 14px;
    border:none; 
}
.DeleteButton{
    background-color:#f6f6f6;
    color:red;
}
.EditButton{
    background-color:#f6f6f6;
    color:darkcyan;
}
.ButtonContainer{
   display: flex;
   justify-content:center;
   margin-left: auto;
   width:80px; 
}
p.CommentText{
    font-size:0.8em;
    height:80px;
    width:350px;
    word-wrap: break-word;
   
}
.ReplyButton{
    font-weight: 600;
    font-size: 14px;
    position:fixed;
}
.CardBottom{
    display: flex;
    justify-content: space-around;
    width:350px;
}
