.ReplyContainer{
    background-color:#f6f6f6;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    width:500px;
}
.ReplyHeader{
    display: flex;
    justify-content: space-between;
    height:40px;
    align-items: center;
    margin-bottom: 2em;
}
.ReplyBody{
    height:40px;
}
.h6{
    font-size:0.8em;
    height:80px;
    width:350px;
    word-wrap: break-word;
}
.ReplyUserName{
    text-align: left;
}
.ReplyText{
   margin-left: 0.5em;
}
.ReplyInput{
    width:450px;
}
.SaveButton{
    width:100px;
}
.SaveButtonContainer{
    margin:auto;
    display: flex;
    justify-content: center;
}