.CardDetails{
    width:500px;
    margin: auto;
    display: flex;
    flex-direction: column;

}
.CardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.CommentText{
    font-size:1.1em !important;
}
.CommentCard{
    border: 2px solid grey;
    padding: 25px;
    padding-top: 5px;
}
h4{
    text-align: center;
}