.NavBar{
    display:flex;
}
.MobileNavBar{
    display: none;
}
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#121212;
    padding: 0.5em;
    position: fixed;
    z-index: 999;
    width:100%;
    top:0;
    
}
li>ul{
    font-weight: 600;
    color:white;
    font-size:1.2em;
}
li{
    align-items: center;;
}
@media(max-width:768px){
    .NavBar{
        display: none;
    }
    .MobileNavBar{
        display: flex;
    }
}