h5{
text-align:center;
}
.CommentList{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:2em;
    margin:1.5em 1.5em;
}
.PlaceholderImage{
    width:30%;
}
.PlaceholderDiv{
    display: flex;
    flex-direction: column;
    align-items: center;

}