h5{
text-align:center;
}
.CommentList{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.PlaceholderImage{
    width:30%;
}
.PlaceholderDiv{
    display: flex;
    flex-direction: column;
    align-items: center;

}